---
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';
import CurrencyField from '@components/CurrencyField.astro';
import SelectField from '@components/SelectField.astro';
import currencies from '@constants/currencies';
---

<script>
  import currencies from '@constants/currencies';

  const currencyElement = document.getElementById(
    'currency',
  ) as HTMLSelectElement;
  const currencySymbolElement = document.getElementById(
    'net-worth-prepend',
  ) as HTMLDivElement;

  const handleCurrencyChange = () => {
    const currencySymbol = currencies.find(
      (currency) => currency.value === currencyElement.value,
    )?.symbol;

    if (currencySymbol) {
      currencySymbolElement.textContent = currencySymbol;
    }
  };

  currencyElement?.addEventListener('change', handleCurrencyChange);
</script>

<Layout>
  <main class="main">
    <div class="main__content">
      <h1 class="main__title">Have I Made a Million Yet?</h1>
      <p class="main__description">
        Input your net worth in your desired currency to determine whether
        you've made a million in currencies from around the world!
      </p>

      <form id="form" class="form" action="results">
        <div class="fields">
          <SelectField
            id="currency"
            name="currency"
            label="What is your currency?"
            options={currencies}
            required
          />

          <CurrencyField
            id="net-worth"
            name="net-worth"
            type="number"
            label="What is your net worth?"
            placeholder="1000"
            required
          />
        </div>

        <Button>Calculate</Button>
      </form>
    </div>
  </main>
</Layout>

<style>
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 12rem);
  }

  .main__content {
    width: 100%;
    max-width: 50rem;
    padding: 4rem 1rem;
  }

  .main__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .main__description {
    font-size: 1.25rem;
    line-height: 130%;
    margin-bottom: 2rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .fields {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (min-width: 50rem) {
    .main__title {
      font-size: 4rem;
    }

    .main__description {
      margin-bottom: 2rem;
    }

    .form {
      gap: 3rem;
    }
  }
</style>
