---
import Link from '@components/Link.astro';
---

<footer class="footer">
  <p class="footer__paragraph">Currency rates last updated Aug 31th, 2024.</p>
  <p class="footer__paragraph">
    Made by <Link href="https://www.zaneweb.com/">Martin Zane</Link>. Source
    code on <Link href="https://github.com/zanewebhq/millionaire-progress"
      >GitHub</Link
    >.
  </p>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--color-primary-600);
  }

  .footer__paragraph {
    font-size: 1rem;
    line-height: 125%;
  }

  @media (min-width: 50rem) {
    .footer {
      align-items: center;
    }
  }
</style>
