---
import { Image } from 'astro:assets';
---

<header class="header">
  <div class="header__content">
    <div class="header__logo">
      <Image
        class="header__logo-image"
        src="/images/coin.svg"
        alt="A gold coin with the number 1 on it"
        width="48"
        height="48"
      />
      <div class="header__logo-text">Millionaire Progress</div>
    </div>
  </div>
</header>

<style>
  .header {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0.5rem var(--color-primary-900);
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90rem;
    padding: 1rem;
  }

  .header__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .header__logo-image {
    filter: drop-shadow(0 0 0.25rem var(--color-primary-900));
  }

  .header__logo-text {
    font-size: 1.25rem;
    font-weight: 800;
  }
</style>
